body {
  padding: 0;
  margin: 0;
}

* {
    margin: 0;
    padding: 0;

}

.landing_bg{
 margin-top: -35rem;
}
.landing_bg1{
  margin-top: -30rem;
 }

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper1{
    height: 75vh;
    width: 50%;
    margin-left: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.model{
  background-color: transparent;
  position: absolute;
  width: 50%;
  height: 100%;
  margin-right: 50%;
 /* background-image: url("./giphy.gif"); */
}

.model1{
  height: 650px;
  width: 100%;
  background-image: url("./media/2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .model1_1{
    height: 650px;
    width: 100%;
    background-image: url("./media/3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    }

    .model1_2{
      height: 650px;
      width: 100%;
      background-image: url("./media/4.gif");
      background-repeat: no-repeat;
      background-size: cover;
      }


.model2{
  height: 500px;
  width: 100%;
  background-image: url("./media/2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  }

.model2_1{
  height: 500px;
  width: 100%;
  background-image: url("./media/3.gif");
  background-repeat: no-repeat;
  background-size: cover;
  }

  .model2_2{
    height: 500px;
    width: 100%;
    background-image: url("./media/gif1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    }


canvas{
  height: 100vh;
}

.imgstyle{
    width: 70px;
    box-shadow:0 0 20px rgb(102, 193, 235);
}

.imgstyle3{
    box-shadow:0 0 20px rgb(102, 193, 235);
  }


.imgstyle:hover{
    width: 80px;
    box-shadow:0 0 20px rgb(255, 255, 255);
  }

  .imgstyle1{
    width: 130px;
    height:125px;
    box-shadow:0 0 20px rgb(102, 193, 235);
  }

  .imgstyle2{
    width: 60px;
    height:60px;
    box-shadow:0 0 20px rgb(145, 145, 145);
  }

#set-height {
  width: 100%;
  display: block;
  color: #ffffff;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

p font-family helvetica {
  font-size: 24px;
}

.main_heading_spacing{
  width: 35rem;

}

.sticky{
  position: fixed;
}
.main_heading{
  font-size: 30px;
  font-family:"Sacramento", cursive;
  text-shadow: 0 0 5px #ff7300, 0 0 25px #ffa600, 0 0 30px #ffae00;
  color: #c48227;
}

.main_heading1{
  font-size: 80px;
  text-shadow: 0 0 5px #0077ff, 0 0 25px #00ccff, 0 0 30px #00ccff;
  color: rgb(255, 255, 255);
  font-family: 'Dosis', sans-serif;
}

.main_heading2{
  font-size: 30px;
  text-shadow: 0 0 5px #0077ff, 0 0 25px #00ccff, 0 0 30px #00ccff;
  color: rgb(255, 255, 255);
  font-family: 'Dosis', sans-serif;
}

.description_text{
  font-family:  'Quattrocento Sans', sans-serif;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card1{
  width: 55rem;
}

.card_multi{
    box-shadow:0 0 20px rgb(102, 193, 235);
  background: linear-gradient(to right, #000000,#272626);
  width: 18rem;
}

.card_multi1{
  box-shadow:0 0 20px rgb(207, 207, 207);
background: linear-gradient(to right, #ffffff,#a1a0a0);
width: 20rem;
height:18rem;
}

.card_multi:hover{
  background: linear-gradient(to right, #000000,#000000);
}

.card2{
  box-shadow:0 0 55px rgb(102, 193, 235);
  display: flex;
  flex-direction: row;
  width: 55rem;

}



.margin{
margin-top: 15px;
margin-left: 25px;
width: 100%;
}

.margin_left_1{
  margin-left: 55px;
}

.height_80{
margin-top: 80px;

}

.height_120{
  margin-top: 120px;
  }

.height_50{
  margin-top: 50px;

  }


.height_30{
    margin-top: 30px;

    }

.height_20{
   margin-top: 20px;

}

.width_50{
  width: 50%
}

.width_60{
  width: 60%
}

.width_40{
  width: 40%
}


.width_100{
  width: 100%
}


.width_80{
  width: 80%
}


.margin-1{
  margin-bottom:2000px;
}


.black{
  color: black;
}

.white{
  background-color: rgb(255, 255, 255);
  height: 1px;
}

.white_text{
color: white;
}

.padding{
  padding-left: 10%;
  padding-right: 10%;
}

.white_button_styling{
  height: 3rem;
  width: 18rem;
}

._360_button_styling{
  height: 2.5rem;
  width: 6rem;
}



.glow-button {
  --box-shadow-color: rgb(102, 193, 235);
  box-shadow: 0 0 30px var(--box-shadow-color);
}

.btn-primary.glow-button {
  --box-shadow-color: #007bff;
}

.btn-secondary.glow-button {
  --box-shadow-color: #6c757d;
}

.btn-success.glow-button {
  --box-shadow-color: #28a745;
}

.btn-danger.glow-button {
  --box-shadow-color: #dc3545;
}

.btn-warning.glow-button {
  --box-shadow-color: #ffc107;
}

.btn-info.glow-button {
  --box-shadow-color: #17a2b8;
}

.btn-light.glow-button {
  --box-shadow-color: #c58443;
}

.btn-dark.glow-button {
  --box-shadow-color:#ffc107;
}

.btn-lg {
  margin: 1em;
}

.font_size{
  font-size: 14px;
  font-weight: 150;
}

.footer-container {
  background-color: #292929;
  padding: 20px;
}

.copyright {
  color: #FFFFFF;
  padding-left: 20px;
}

.social-media-links {
  text-align: right;
  color: #FFFFFF;
  padding-right: 20px;
}

.social-media-links ul {
  list-style: none;
}

.social-media-links li {
  display: inline-block;
  padding-left: 10px;
}

.social-media-links a {
  color: #FFFFFF;
}


.footer-dark {
  padding:50px 0;
  background-image:url("./media/bubbles.png") ;
  color:#f0f9ff;
  background-color:#010c18;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


.bg_menu{
  background-color: #141111;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 50px;
  width: 90%;
  margin-left: 6rem;
  height: 90vh;
  margin-top: -5vh;
}


.footer_button{
  border-radius: 50px 1px;
  min-width: 50px;
}


.footer_text{
  font-family: Georgia, serif;
  text-shadow: 0 0 5px #0077ff, 0 0 25px #00ccff, 0 0 30px #00ccff;
  color: rgb(255, 255, 255);
}




/* Container holding the image and the text */
.card-container {
  display: flex;
  position: relative;
  text-align: bottom;
  color: white;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0px;
}
.card-content{
  position: absolute;
  left: 20px;
  bottom: 5%;
}
.item-1{
  background-image: url("media/1.png");
  height: 400px;
  background-size: cover;
  margin-top: 100px;
}

.item-2{
  background-image: url("media/2.png");
  height: 300px;
  margin-right: 50%;
  background-size: cover;
}
.item-3{
  background-image: url("media/2.png");
  height: 300px;
  background-size: cover;
  margin-left: 50%;
  margin-top: 30px;
}

.item-4{
  background-image: url("media/1.png");
  height: 400px;
  background-size: cover;
  margin-top: 30px;
}

.item-5{
  background-image: url("media/1.png");
  height: 400px;
  background-size: cover;
  margin-top: 30px;
}

.item-6{
  background-image: url("media/2.png");
  height: 300px;
  background-size: cover;
  margin-right: 50%;
  margin-top: 30px;
}

.item-7{
  background-image: url("media/1.png");
  height: 400px;
  background-size: cover;
  margin-top: 30px;
}

.about{
  margin-top: 10%;
  margin-bottom: 10%;
}
